*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs{
    display: flex;
    justify-content: center;

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 70px;
        border-radius: 15px 15px 0 0;
        border: 2px solid rgb(169, 165, 165);
        text-align: center;
        margin: 20px;
        margin-bottom: 0;

        h2{
            color: rgb(169, 165, 165);
        }
    }
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(169, 165, 165);
    width: 920px;
    height: 200px;
    margin: 0 auto;

    .img{
        img{
            width: 100px;
            height: 100px;
            padding-left: 10px;
        }
    }

    .desc{
        display: flex;
        flex-direction: column;
        margin: 20px;

        .title{
            h2{
                margin: 10px;
                margin-left: 0;
                color: rgb(169, 165, 165);
            }
        }

        .title-desc{
            p{
                color: rgb(169, 165, 165);
            }
        }
    }

    .box{
        overflow: hidden;
    }
}